
<!DOCTYPE html>
<html>
<body>
<h1><%= title %></h1>


<form method = "post">
 <div class="container">
	<b>USERNAME:</b> <input type="text" size="30" placeholder="Enter your user name" name="username" required><br />
	<b>PASSWORD:</b> <input type="password" size="30" placeholder="Enter your password" name="password" required><br />
	 <div class="container" style="background-color:#f1f1f1">
	<button type="submit" value="Submit" name="submit">LOGIN</button>
	</div>
	</div>
</form>

</body>

</html>
